@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

html {
    background-color: #9074ff;  
    font-family:'Nunito', sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
}
main.wrapper {
    background-color: rgba(255, 255, 255, 0.7);
    overflow: auto;
}

h1 {
    font-weight: bold;
    margin: auto;
    background: #fff;
    line-height: 2.5em;
    text-align: center;
}

p {
    margin: 1em;
    font-style:unset;
    text-align: center;
}


span.header {
    font-weight: bold;
    background-color: white;
    color:black;
    text-shadow: .04em .04em 0 #fff,.08em .08em 0 #aaa;
    -webkit-text-shadow: .04em .04em 0 #fff, .08em .08em 0 #aaa;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;

}

span {
    background-color: rgba(255, 255, 255, 0.5);

}

.action {
    background-color: aqua;
}


/* Responsive rules */

/* THIS WILL BE DESKTOP VIEW */
@media all and (min-width:1200px) {

    main.wrapper {
        width: 80%;
        margin: auto;
    }  
    h1 {
        width: 79%;
        padding-left: 1%;
        
    }
}
/*  THIS WILL BE THE TABLET VIEW*/
@media all and (min-width:501px) and (max-width:1199px) {

    main.wrapper {
        width: 90%;
        margin: auto;
    }
    h1 {
        width: 89%;
        padding-left: 1%;       
    }   
}
/* THIS WILL BE ANYHTING SMALLER VIEW */
@media all and (max-width:500px) {
    main.wrapper {
        width: 100%;
    }    
    h1 {
        width: 99%;
        padding-left: 1%;       
    }    
}